/* Global Colors  */

:root {
  --dark: #3a3a3a;
  --primary: #e02c6d;
  --text: #787885;
  --dark-bg: #0a0826;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Container styles  */
.container-lg {
  max-width: 1200px;
  margin: 0 auto;
}
.container-md {
  max-width: 1110px;
  margin: 0 auto;
}
.container {
  max-width: 1047px;
  margin: 0 auto;
}

/* ======= Layout ====== */
.flex {
  display: flex;
}
.align-item-center {
  align-items: center;
}
.relative {
  position: relative;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
/* White-spacing  */
.py50px {
  padding: 50px 0px;
}
.pt15 {
  padding-top: 15px;
}
.pt30 {
  padding-top: 30px;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  color: var(--dark);
}

/* Components  */
.btn {
  padding: 10px 24px;
  border-radius: 41px;
  text-decoration: none;
  border: none;
  font-size: 16px;
  transition: 0.5s;
}
.btn-primary {
  color: white;
  background: var(--primary);
}
.btn-primary:hover {
  color: white;
  background: var(--dark-bg);
}
.btn-secondery {
  color: var(--primary);
}
.btn-secondery:hover {
  color: white;
  background: var(--dark-bg);
}
/* nav Menu  */

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
  min-height: 50px;
}

/* logo  */

.logo-nav .text-logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

/* MENU  AND CART*/
.menu-cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-cart .menu-area ul li {
  display: inline;
}
.priamry-menu .menu-item a {
  color: var(--dark);
  text-decoration: none;
  padding: 5px 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 40px;
  transition: 0.5s ease;
}
.priamry-menu .menu-item a:hover {
  background-color: var(--primary);
  color: white;
}

/* cart and search  */

.menu-cart .cart .iconify-inline {
  font-size: 36px;
  color: var(--dark);
  padding-left: 34px;
}
.menu-cart .search .iconify-inline {
  font-size: 24px;
  color: var(--dark);
  padding-left: 34px;
}

/* ------- HERO SECTION ----  */
#hero .content,
#hero .hero-image {
  width: 50%;
}
.animated-featured-image {
  text-align: right;
}
.hero-image .camera {
  width: 70%;
  position: absolute;
  right: 0;
  bottom: 50px;
}
.hero-image .image-bg {
  width: 80%;
}

.content .title {
  font-weight: bold;
  font-size: 52px;
  line-height: 70px;
}
.content .subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/* Clients  */
#clients .client img {
  padding: 0px 30px;
}
#clients .flex {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.client-logo-wrapper {
  padding: 36px 0px;
}
#clients .border {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}
.alibaba img {
  width: 55.05px;
}

.amazon img {
  width: 84px;
}
.daraz img {
  width: 84px;
}
.ebay img {
  width: 99.12px;
}
.rakuten img {
  width: 97.06px;
}
.target img {
  width: 111px;
}
.walmart img {
  width: 91px;
}

/* ======== product ===============
 */
#popular .section-heading {
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
}
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.product-wrapper {
  padding: 17px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.product-wrapper img {
  width: 100%;
}
.product-wrapper .product-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
}
.product-wrapper .price {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
}
.product-wrapper .ratings {
  color: #fb8200;
}
.product-wrapper .product-disc {
  width: 196px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #787885;
}

/* ------ CTA --------  */

#call-to-action .cta-container {
  display: flex;
}
.cta-container .image-box,
.cta-container .content {
  width: 50%;
}
.cta-container .content {
  text-align: right;
  padding: 80px 0px;
}
.image-box img {
  width: 100%;
  border-radius: 15px;
}
.form-input{
    padding: 7px 5px;
    border-radius: 50px;
    border: 1px solid rgb(211, 211, 211) ;
    font-size: 16px;
    text-align: center;
}
.form-controller{
  margin: 5px;
}
/* ------FOOTER-----------  */

.footer-container {
  background: var(--dark-bg);
}
.footer-container .footer-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.footer-container .footer-text {
  color: #d9dbe1;
  font-size: 14px;
  line-height: 24px;
}

.social-icons .iconify-inline {
  font-size: 18px;
  color: white;
  background: #ffffff4d;
  padding: 10px;
  border-radius: 100px;
}
